<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="Description" content="작은사회가 만들어가는 새로운 미래를 미리 살펴보고, 세상의 변화를 이끄는 작은사회의 일원이 될 수 있습니다." />
  <meta property="og:title" content="작은사회" />
  <meta property="og:description" content="작은사회가 제시하는 새로운 미래를 미리 살펴보고, 세상의 변화를 이끄는 작은사회의 일원이 될 수 있습니다." />
  <meta property="og:url" content="http://www.smallsociety.kr/" />
  <meta property="og:locale" content="ko_KR" />
  <meta property="og:image" content="./images/open_graph_logo.png" />
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="작은사회" />
  <title>작은사회</title>
  <link rel="stylesheet" type="text/css" href="/css/index.css">
  <link rel="apple-touch-icon" sizes="180x180" href="./images/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="./images/favicon-32x32.png" sizes="32x32">
  <script type="text/javascript" src="js/jquery.js"></script>
  <script type="text/javascript" src="js/include.js"></script>
</head>
<body>
  <nav>
        <div class="box" id="logo"><a href="index.html">&nbsp;&nbsp;</a></div><!--
     --><div class="box"><a href="/smallclub">작은모임 </a></div><!--
     --><div class="box"><a href="/leader">운영진 </a></div><!--
     --><div class="box"><a href="/notice">공지사항</a></div><!--
     --><div id="event" class="box"><a href="/login">회원페이지</a></div>
	</nav>
	<main>
		<div id="main_image">
			<span id="main_image_title">작은사회 2기</span><!--
     	 --><span id="main_image_subtitle">세상을 바꾸는</br> 힘있는 도약.</span>
		</div>
	<article>
		<div id="sub_title"><span>작은사회 주요활동</span></div>
		<a href="smallbook.html"><div id="sub_image1" class="sub_image"><!--
     --><div class="sub_text">작은사색</div></div></a><!--
     --><a href="smallart.html"><div id="sub_image2" class="sub_image"><!--
     --><div class="sub_text">작은예술</div></div></a><!--
     --><a href="smallvideo.html"><div id="sub_image3" class="sub_image"><!--
	 --><div class="sub_text">작은영상</div></div></a>
	</article>
	<div class="main_section">
		<div id="sub_title"><span>작은사회 홍보영상</span></div>
    	<video width="80%" controls>
     	      <source src="video/smallsociety.mp4" type="video/mp4" >
    	</video>
	</div>
	</main>
	<footer></footer>
</body>
</html>
