.report_form{
    border:0px;
    padding-bottom:2px;
    margin-bottom:10px;
    border-bottom:0.8px dotted #666;
    text-align:right;
    width:250px;
    font-family:'NanumGothic';
    font-size:15px;
    font-weight:300;
    color:#333;
    background-color:rgba(0,0,0,0);
}

select {
    position: relative;
    z-index:2;
    border:1px solid #ddd;
    border-radius:5px;
    -webkit-appearance: none; 
    -moz-appearance: none;   
    appearance: none;    
    margin-bottom: 14px;
    padding: 0px 15px 0px 15px;
    border:1px solid #ddd;
    border-radius:5px;
    height:30px;
    width:100px;
    font-family:'NanumGothic';
    font-size:14px;
    color:#333;
    background-color:rgba(0,0,0,0);  
}
select::-ms-expand {
    display: none;            /* 화살표 없애기 for IE10, 11*/
 }

#display_art{
    display: none; 
}

#display_movie{
    display: none; 
}

#form_selector{
    display:inline-block;
    position: absolute;
    padding:4px;
    margin-left:-20px;
    margin-top:12px;
    background-image:url('../images/selector.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.display_selector{
    display:inline-block;
}

.report_form:focus {
    outline:none;
}

#report_title{
    position: relative;
    margin-top:30px;
    border:0px solid #ddd;
    border-radius:5px;
    text-align:center;
    height:32px;
    width:85%;
    font-family:'NanumGothic';
    font-size:18px;
    font-weight:600;
    color:#333;
    background-color:rgba(0,0,0,0);
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-weight:300;
    color:#333;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    font-weight:300;
    color:#333;
  }
  :-ms-input-placeholder { /* IE 10+ */
    font-weight:300;
    color:#333;
  }
  :-moz-placeholder { /* Firefox 18- */
    font-weight:300;
    color:#333;
  }

#report_title:focus {
    outline:none;
}
#underbar{
    display:inline-block;
    position: relative;
    top:-11px; 
    width:300px;
    border-top:0.8px solid #666;
}
.report_basic{
    display:inline-block;
    position: relative;
    width:85%;
    text-align:right;
}

#time{
    display:inline-block;
    margin-bottom:5px;
    padding-bottom:2px;
    width:150px;
    font-family:'NanumGothic';

}

#writer{
    display:inline-block;
    margin-bottom:13px;
    padding-bottom:2px;
    width:150px;
    font-family:'NanumGothic';

}

.report{
    display: inline-block;
    font-size:16px;  
    width:95%;
    min-height:100px;
    margin-left:5px;
    margin-bottom:30px;
    text-align: left;
    line-height:1.8;
}
.link_wraper{
    display:inline-block;
    position:absolute;
    width:99.5%;
    text-align:right;
}
.write_link{
    color: #666;
    display:inline-block;
    font-family: 'Heebo';
    font-size: 15px;
    font-weight:300;
    line-height: 78px;
    width:55px;
    text-align: right;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    text-shadow: none;
    vertical-align: baseline;
    text-decoration: none;
}
.write_link:hover{
    border-bottom-color: rgb(0, 136, 204);
    color: rgb(0, 136, 204);
    text-decoration: underline;
}
#cke_contents{
    display:inline-block;
    border:0px;
    border-radius:0px;
    background-color:rgba(0,0,0,0);
    border-bottom-color:rgba(0,0,0,0);
}

#cke_1_bottom{
    display:none;
}
#cke_1_top{
    display:inline-block;
    background-color:rgba(0,0,0,0);
    border:0px;
    border-radius:5px;
    padding-bottom:10px;
    text-align:center;
}
